@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OurGameList</h1>
    <p>Let us list your games and shows everyone your game information</a>.</p>
</div>
